{{#if strikesCount}}
<h1>Results: {{strikesCount}}</h1>
{{/if}}

{{#each strikes}}

  <h1></h1>
  <h2>Number: {{number}}</h2>
  <ul>
    <li>narrative:
      <p>{{narrative}}</p>
    </li>
    {{#if deaths}}
      <li>Number of Deaths: {{deaths}}</li>
    {{/if}}

    <li>Civilian Casualties: {{civilians}}</li>
    <li>Country: {{country}}</li>
    <li>Town: {{town}}</li>
    {{#if bij_summary_short}}
    <p>{{bij_summary_short}}</p>
    {{/if}}
  </ul>
{{/each}}

<!-- individual strike show modal -->
<div id="strikeShowModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Game Over!</h4>
          </div>
          <div class="modal-body" id="strikeShowModalBody">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
