{{#if strikesCount}}
<h1>Results: {{strikesCount}}</h1>
{{/if}}

{{#each strikes}}

  <h1></h1>
  <h2>Number: {{number}}</h2>
  <ul>
    <li>narrative:
      <p>{{narrative}}</p>
    </li>

    <li>Number of Deaths: {{deaths}}</li>
    <li>Civilian Casualties: {{civilians}}</li>
    <li>Country: {{country}}</li>
    {{#if bij_summary_short}}
    <p>{{bij_summary_short}}</p>
    {{/if}}
  </ul>
{{/each}}
